h1 Foxie Framework
p
	| Lorem ipsum dolor sit amet, est ridens omnesque prodesset id, ea civibus abhorreant vix. Et nibh appellantur referrentur vis, invidunt invenire maluisset cum id. Hinc percipitur est at, te est sumo prompta incorrupte, et etiam clita comprehensam mei. Vocent senserit reprimique has ei. Error appellantur in est, eum ex erant laudem putant, perfecto platonem vix id. Detracto antiopam sed cu, pri id meis atomorum. Quo oporteat sapientem interpretaris et. Ad mei eius iusto democritum. Latine alterum efficiendi an his, an errem impetus 
	a(href='#') This is a link 
	|sit. Id eam wisi perfecto, autem urbanitas constituto nam te, nam et sint eloquentiam. Ex vis justo errem, sed ei viris delectus. Quod dolore option no per, quo partem soluta accommodare no, sea te quod vitae tollit. Sea ei periculis complectitur, harum inciderint delicatissimi per ex. At 
	a(href='#') Im so hungry 
	|cum persius democritum eloquentiam. Id nisl nulla eloquentiam eum. Mollis molestiae mel ex, officiis laboramus eum id. Eos nisl soluta ut. Eam dicam philosophia ad, virtute ponderum elaboraret sed ei.

include ../foxie_blockquote.jade

p
	| Modus intellegat dissentias ne eam, no ponderum verterem vis, dicam fabulas sapientem ei has. Has at inermis consetetur, nec autem munere oportere te, ne pri case volumus. Usu te illud invidunt sadipscing, quas mentitum appareat per an, reque quaeque nec ex. Quis justo et eos, ei qui sanctus delenit insolens. Porro disputationi an quo, an pro oporteat disputationi. Id mei latine expetendis, altera denique accusata an est, id affert adipisci nam. Et mei veri regione probatus, pro dolor ullamcorper signiferumque ne. Quis justo et eos, ei qui sanctus delenit insolens. Porro disputationi an quo, an pro oporteat disputationi. Id mei latine expetendis, altera denique accusata an est, id affert adipisci nam. Et mei veri regione probatus, pro dolor ullamcorper signiferumque ne.