header.navbar--compact.ctrl--right
	div.logo--light
		h1
			a(href='') Foxie
	nav
		ul
			li.active
				a(href='#') Home
			li
				a(href='#') Customize
			li
				a(href='#') Components
			li.navbar_dropdown
				a(href='#') Javascript
					span.oi(data-glyph='caret-bottom')
				ul.list-group.--hover
					li Al murry
					li Lizard Lick
					li Top gear
					li Storage Hunters
					li Coach Trip
			li
				a(href='#') TV programs
			li
				form.search
					button.btn.btn--invisible.oi(data-glyph='magnifying-glass')